<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>Swift_iOS_Pattern</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>Swift_iOS_Pattern</string>
	<key>API_KEY</key>
	<string>Swift_iOS_Pattern</string>
	<key>GCM_SENDER_ID</key>
	<string>961525815466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Phat-Nguyen.FirebasePattern</string>
	<key>PROJECT_ID</key>
	<string>swift-ios-pattern</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-ios-pattern.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>Swift_iOS_Pattern</string>
</dict>
</plist>
